<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack">
<config key="Variable_0">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="new variable (column)"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="true_category"/>
</config>
<config key="Variable_1">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="new variable"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="POS,NEG"/>
</config>
<config key="Variable_2">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="new variable (column)"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="true_category"/>
</config>
<config key="Variable_3">
<entry key="type" type="xstring" value="variable"/>
<entry key="name" type="xstring" value="new variable"/>
<entry key="class" type="xstring" value="STRING"/>
<entry key="value" type="xstring" value="POS,NEG"/>
</config>
</config>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="defaultValue">
<entry key="column" type="xstring" value="true_category"/>
<config key="values">
<entry key="array-size" type="xint" value="2"/>
<entry key="0" type="xstring" value="POS"/>
<entry key="1" type="xstring" value="NEG"/>
</config>
</config>
<entry key="label" type="xstring" value="Label"/>
<entry key="description" type="xstring" value="Enter Description"/>
<entry key="hideInWizard" type="xboolean" value="false"/>
<entry key="hideInDialog" type="xboolean" value="false"/>
<entry key="required" type="xboolean" value="true"/>
<entry key="parameterName" type="xstring" value="value-filter"/>
<entry key="flowvariablename" type="xstring" value="new variable"/>
<entry key="lockColumn" type="xboolean" value="false"/>
<config key="possibleColumns">
<entry key="array-size" type="xint" value="2"/>
<entry key="0" type="xstring" value="hotel"/>
<entry key="1" type="xstring" value="true_category"/>
</config>
<config key="colValues">
<config key="hotel">
<entry key="array-size" type="xint" value="51"/>
<entry key="0" type="xstring" value="Hotel Palacio de Los Navas"/>
<entry key="1" type="xstring" value="NH Collection Granada Victoria"/>
<entry key="2" type="xstring" value="Eurostars Gran Vía"/>
<entry key="3" type="xstring" value="Melia Granada"/>
<entry key="4" type="xstring" value="AC Palacio De Santa Paula, Autograph Collection"/>
<entry key="5" type="xstring" value="Hotel Casa del Capitel Nazari"/>
<entry key="6" type="xstring" value="Reina Cristina Hotel"/>
<entry key="7" type="xstring" value="El Ladron de Agua"/>
<entry key="8" type="xstring" value="Suites Gran Via 44"/>
<entry key="9" type="xstring" value="Sercotel Gran Hotel Luna de Granada"/>
<entry key="10" type="xstring" value="Hotel Macia Real de la Alhambra"/>
<entry key="11" type="xstring" value="Eurostars Washington Irving"/>
<entry key="12" type="xstring" value="Vincci Albayzín"/>
<entry key="13" type="xstring" value="Abades Nevada Palace"/>
<entry key="14" type="xstring" value="Plaza Nueva Hotel"/>
<entry key="15" type="xstring" value="Hotel Los Angeles &amp;Spa"/>
<entry key="16" type="xstring" value="Posada de Quijada"/>
<entry key="17" type="xstring" value="Room Mate Leo"/>
<entry key="18" type="xstring" value="Marquis Hotels Issabel´s"/>
<entry key="19" type="xstring" value="Apartamentos Gumiel"/>
<entry key="20" type="xstring" value="Hotel Boutique Párraga Siete"/>
<entry key="21" type="xstring" value="HOTEL CASA MORISCA"/>
<entry key="22" type="xstring" value="Hotel Los Girasoles II"/>
<entry key="23" type="xstring" value="Marquis Portago"/>
<entry key="24" type="xstring" value="Ohtels San Antón"/>
<entry key="25" type="xstring" value="Hotel Alixares"/>
<entry key="26" type="xstring" value="Hotel Andalucía Center"/>
<entry key="27" type="xstring" value="Alojamiento NSC"/>
<entry key="28" type="xstring" value="Hotel Arabeluj"/>
<entry key="29" type="xstring" value="Casa de la Catedral"/>
<entry key="30" type="xstring" value="Villa Oniria"/>
<entry key="31" type="xstring" value="ECO Hostel"/>
<entry key="32" type="xstring" value="Hotel Anacapri"/>
<entry key="33" type="xstring" value="Hotel Corona de Granada"/>
<entry key="34" type="xstring" value="Almanzora Apartments Granada"/>
<entry key="35" type="xstring" value="AMC Granada"/>
<entry key="36" type="xstring" value="Arteaga Hostal"/>
<entry key="37" type="xstring" value="Camino de Granada Hotel"/>
<entry key="38" type="xstring" value="Apartamentos Santa Ana"/>
<entry key="39" type="xstring" value="Almohada Hospedaje"/>
<entry key="40" type="xstring" value="Pension Lisboa"/>
<entry key="41" type="xstring" value="Posada Dona Lupe"/>
<entry key="42" type="xstring" value="La Hacienda Plaza"/>
<entry key="43" type="xstring" value="Hotel Los Jeronimos"/>
<entry key="44" type="xstring" value="Residencia San Ildefonso"/>
<entry key="45" type="xstring" value="Residencia Universitaria Emperador Carlos V"/>
<entry key="46" type="xstring" value="HR Consul Hotel"/>
<entry key="47" type="xstring" value="Tryp Alcano Hotel"/>
<entry key="48" type="xstring" value="Rallye"/>
<entry key="49" type="xstring" value="Hostal Viena"/>
<entry key="50" type="xstring" value="Hostal Nevada"/>
</config>
<config key="true_category">
<entry key="array-size" type="xint" value="2"/>
<entry key="0" type="xstring" value="POS"/>
<entry key="1" type="xstring" value="NEG"/>
</config>
</config>
<entry key="type" type="xstring" value="Twinlist"/>
<entry key="limit_number_visible_options" type="xboolean" value="false"/>
<entry key="number_visible_options" type="xint" value="10"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.js.base.node.quickform.filter.value.ValueFilterQuickFormNodeFactory"/>
<entry key="node-name" type="xstring" value="Value Filter"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Quick Form Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.js.quickforms"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="3.5.2.v201802051356"/>
<entry key="node-feature-name" type="xstring" value="KNIME Quick Forms"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.js.quickforms.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="3.5.3.v201804031047"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Value Filter"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 3099, Cols: 3"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="internalObjects">
<entry key="location" type="xstring" value="internalTables"/>
<config key="content">
<config key="object_0">
<entry key="index" type="xint" value="0"/>
<entry key="type" type="xstring" value="table"/>
<entry key="table_dir_location" type="xstring" value="object_0"/>
</config>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="6befcf2f-e541-4d31-939c-02bf8fa23514"/>
</config>
</config>
